@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root{
    /* colores primarios*/
    --naranja: hsl(31, 77%, 52%);
    --cyan-oscuro: hsl(184, 100%, 22%);
    --cyan-muy-oscuro: hsl(179, 100%, 13%);
    /* colores neutros*/
    --blanco-trasparente: hsla(0, 0%, 100%, 0.75);  /* parrafos*/
    --grid-claro: hsl(0, 0%, 95%);  /* background, headings, buttons */

    /*fuente*/
    --tam-fuentes: 15px;
    --fuente-primaria: 'Big Shoulders Display', cursive;
    --fuente-secundaria: 'Lexend Deca', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background: var(--grid-claro);
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60px auto auto;
    width: 70%;
    height: 100%;
    margin: 0 auto;
}
.tarjeta-1{
    grid-column: 1/2;
    grid-row: 2/3;
    background: var(--naranja);
    border-radius: 8px 0px 0px 8px;
}
.tarjeta-2{
    grid-column: 2/3;
    grid-row: 2/3;
    background: var(--cyan-oscuro);
}
.tarjeta-3{
    grid-column: 3/4;
    grid-row: 2/3;
    background: var(--cyan-muy-oscuro);
    border-radius: 0px 8px 8px 0px;
}
.tarjetas{
    padding: 60px;
}
.tarjetas>img{
    margin-bottom: 30px;
    width: 75px;
}
.tarjetas>h1{
    font-family: var(--fuente-primaria);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 42px;
    color: var(--grid-claro);
    margin-bottom: 20px;
}
.tarjetas>p{
    color: var(--blanco-trasparente);
    font-size: var(--tam-fuentes);
    font-family: var(--fuente-secundaria);
    font-weight: lighter;
    margin-bottom: 80px;
}
.tarjetas>a{
    display: inline-block;
    background: var(--grid-claro);
    border: 2px solid var(--grid-claro);
    font-size: var(--tam-fuentes);
    font-family: var(--fuente-secundaria);
    padding: 15px 30px;
    border-radius: 25px;
    text-decoration: none;
}
.tarjetas>a:hover{
    background: transparent;
    color: var(--grid-claro);
}
.tarjeta-1>a{
    color: var(--naranja);
}
.tarjeta-2>a{
    color: var(--cyan-oscuro);
}
.tarjeta-3>a{
    color: var(--cyan-muy-oscuro);
}

@media (max-width: 1140px) {
    .grid{
        grid-template-rows: auto auto auto;
        width: 85%;
        height: 100%;
        margin: 80px auto;
        row-gap: 15px;
    }
    .tarjeta-1{
        grid-column: 1/-1;
        grid-row: 1/2;
        border-radius: 8px 8px 0px 0px;
    }
    .tarjeta-2{
        grid-column: 1/-1;
        grid-row: 2/3;
    }
    .tarjeta-3{
        grid-column: 1/-1;
        grid-row: 3/4;
        border-radius: 0px 0px 8px 8px ;
    }
}
